<div class="navBar">
            <div class="navLink">
               
            </div>
            <div class="navLink">
               
            </div>
            <div class="navLinkLogo">
                    <img class="logoImg" src="{{asset('img/logo_le_blog.png')}}" alt="logo le blog">
            </div>

        {% if app.user %}
            <div class="navLink">
                <a class="linkNavClass" href="{{ path('app_logout') }}">Logout</a>
            </div>
            <div class="navLink">
                <a class="linkNavClass" href="{{ path('app_homeConnect_index') }}">Accueil</a>
            </div>
        {% else %}
            <div class="navLink">
                <a class="linkNavClass" href="{{ path('app_login') }}">Login</a>
                    <img class="logoUserNav" src="{{asset('img/user.png')}}" alt="user img">
            </div>
            <div class="navLink">
                <a class="linkNavClass"href="{{ path('app_register') }}">Register</a>
            </div>
         {% endif %}
</div>

