{% extends "layouts/base.html.twig" %}

{% block body %}
	<h1>
		editArticcle {{ post.id }}
	</h1>

	{# <h1> {{postArt.title}} </h1> #}
	{# //	<p>{{ post.content }} </p> #}
	{# //	{{ dump(post) }} #}
		{{ include ('layouts/partials/_form.html.twig', {form: form, button:'SAVE ME !'}) }}
			
{% endblock %}

