{% extends "layouts/base.html.twig" %}

{% block body %}
	<h1>
		HomeConnecct
	</h1>

	{# <h1> {{postArt.title}} </h1> #}
{# //	<p>{{ post.content }} </p> #}
{# //	{{ dump(post) }} #}
<div class="container">
<a class="btn btn-success btn-lg mb-2" href="{{ path ('article_create')}}">CREATE ! +
</a>

	<div class="row">
		{% for post in posts %}
			<div class="col-md-4">
				<div class="card">
					<img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">{{ post.title }} </h5>
						<p class="card-text">{{ post.content }}</p>
						<p class="card-text">{{ post.author }} 		
						- {{ post.createdAt | date("d/m/Y") }} </p>
						<a href="/posts/{{ post.id }}" class="btn btn-primary"> GO ! </a>

							<a  class="btn btn-secondary" href="{{ path('app_article_update', {id: post.id})}}"> UP ! </a>

							<form method="post" action="{{ path('app_article_delete', {id: post.id})}}">
								<input type="hidden" name="_method" value="DELETE">
								{# <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id)}}"> #}
								<button class="btn btn-danger"> KILL </button>
							</form>
					</div>
				</div>
			</div>
		{% endfor %}
	<div class="row">
</div>
{% endblock %}

